<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Julia</string>
		<key>lastName</key>
		<string>Cole</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Amanda</string>
		<key>lastName</key>
		<string>Murphy</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jennie</string>
		<key>lastName</key>
		<string>Oliver</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Claire</string>
		<key>lastName</key>
		<string>Huff</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Alex</string>
		<key>lastName</key>
		<string>Hart</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Rene</string>
		<key>lastName</key>
		<string>Caldwell</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Whitney</string>
		<key>lastName</key>
		<string>Bowman</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Guillermo</string>
		<key>lastName</key>
		<string>Garcia</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Rene</string>
		<key>lastName</key>
		<string>Walsh</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Lynn</string>
		<key>lastName</key>
		<string>Morris</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Carmen</string>
		<key>lastName</key>
		<string>Reeves</string>
	</dict>
</array>
</plist>
